.TableColLabel {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 1.25rem;
    white-space: nowrap;
}

.CoreDataTitle{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    padding: 0;
}

.TableHeader {
    background-color: #fff;
}

.CoreDataContainer {
    width: 80%;
    position: relative;
    margin: 40px auto;
    padding: 40px;
    overflow-x: auto;
    height: auto;
    border: 1px, solid, #ccc;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 16px 8px #eee;
}

.FormLabel h2{
    padding: 0;
    margin: 0;
    width: 7rem;
}

.CoreCell {
    padding: 8px 0px;
    border-bottom: 1px solid #eee;
}

.CoreCell:last-child {
    border-bottom: none;
}
.CoreCell:first-child{
    border-bottom: none;
}

.CoreCell input {
    padding: 0 8px;
    height: 37px;
    width: 70px;
    font-size: 25px;
}

.CoreCell p{
    font-size: 22px;
}

.CoreWarning{
    width: 400px;
    background-color: red;
    color: #fff;
    text-align: center;
    padding: 5px;
    font-size: 1.25rem;
    border-radius: 4px;
    white-space: normal;
    position: absolute; 
    z-index: 1;
    top: 10%;
    left: 70%;
    margin-left: -112px;
    transition: opacity 300ms;
}