
.AnalysisContainer h3{
    text-align: left;
}

.ResultContainer{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 33vh;
}

.ResultContainer p {
    font-size: 1.2rem;
}

.ResultContainer span{
    font-weight: bolder;
}

.RiskWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: .25rem;
    width: 92%;
    margin: auto;
}

.RiskWrapper h4{
    margin: .2rem 0;
}

.VeryHigh, .High, .Int, .IntUnfavorable, .IntFavorable, .Low, .VeryLow {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    text-align: left;
}

.High{

}

.Int {

}

.IntFavorable{

}

.IntUnfavorable {

}

.Factor{
    color: darkorange;
    font-weight: bold;
    padding: .25rem;
}

.ThisRisk > .Factor{
    color: #f1ff00;
    font-weight: bold;
    padding: .25rem;
}

.NonFactor {
    color: #555555;
    padding: .25rem;
}

.ThisRisk {
    background: #4e48e9;
    color: #fff;
}

.ThisRisk > .NonFactor{
    color: white;
}



@media only screen and (max-width: 1050px){
    .ResultContainer{
        flex-wrap: nowrap;
        height: auto;
    }
}
