.LinkContainer{
    background: gray;
    color: white;
    padding: 1rem;
    overflow-x: auto;
    white-space: nowrap;
    width: 80%;
    margin: auto;
    border-radius: 4px;
    cursor: pointer;
}

.LinkContainer span {
    width: 100%;
}

.InnerCopyFlex {
    display: flex;
    justify-content: space-between;
}

.ClickToCopyWrapper {
    cursor: pointer;
}

.FadeCopied{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    padding: .75rem;
    color: #fff;
    background-color: gray;
    border-radius: .5rem;
    animation: fadeIn 2s linear 0s forwards;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    25% {opacity: 1;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

